body {
    background-color : lightblue;
}
#navBar {
    height: auto;
    width: 0px; 
    position: absolute;
    top: 120px;
    left: 0px;
    background-color: black;
    overflow-x: hidden; 
    transition: 0.5s; 
    color: white;
}

#navBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#navBar a:hover {
    color: #f1f1f1;
}
#slogan {
    color: orange;
    font-size: 80px;
    top: 450px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 170px;
} 

#openNavBar {
    width : 100px;
    height : auto;
}
#openNavBar:hover {
    background-color: lightcyan;
}
#openNavBar {
    border-radius: 20%;
}
h1 {
    color : orange;
}
#slideshow {
    margin-top: 30px;
}
#slideshowImg {
    vertical-align: middle;
    width : 100%;
    height : 700px;
    margin-left : 0px;
    margin-right : 0px;
    opacity: 100%;
}

#dot1 {
    height: 15px;
    width: 15px;
    margin: 2px;
    margin-top: 0px;
    border-radius: 50%;
    display: inline-block;
}

#dot2 {
    height: 15px;
    width: 15px;
    margin: 2px;
    border-radius: 50%;
    display: inline-block;
}

#dot3 {
    height: 15px;
    width: 15px;
    margin:2px;
    border-radius: 50%;
    display: inline-block;
}
#carouselText {
    margin-left: 400px;
}
#carouselDots {
    position: absolute;
    margin-top: 20px;
    left: 47%;
    display: inline-block;
    top: 720px;
}
#title {
    display : inline-block;
    text-align: center;
    margin-left: 120px;
    position: absolute;
    font-size: 50px;
}
#logo {
    margin-top: 20px;
    margin-left: 800px;
    width : 100px;
    height : auto;
    display : inline-block;
    position: absolute;
}
#logo:hover {
    background-color: lightcyan;
    border-radius: 20%;
}
#topSection {
    position: relative;
}
#txtCarousel {
    background-color: lightyellow;
    height: 120px;
    width: auto;
}
#worldHungerBtn {
    border-radius: 50px;
    height: 80px;
    width: 140px;
    background-color: lightblue;
    position: absolute;
    left:37%;
    font-size: 20px;
    margin-top: 20px;
}
#educationBtn {
    border-radius: 50px;
    height: 80px;
    width: 140px;
    background-color: lightblue;
    position: absolute;
    left:50%;
    font-size: 20px;
    margin-top: 20px;
}
#worldHungerBtn:hover {
    background-color: aquamarine;
}
#educationBtn:hover {
    background-color: aquamarine;
}
#midSection {
    margin-top: 0px;
    height: 680px;
    width: auto;
    background-color: lavenderblush;
    position: relative;
}
#myChart {
    margin-top: 20px;
    position: absolute;
    left: 700px;
    top: 260px;
}
#issueTitle {
    margin-top: 0px;
    font-size: 80px;
    margin-left: 10px;
}
#sdgLogo {
    width : 200px;
    height : auto;
    position: absolute;
    left: 300px;
    top: 10px;
}
#sdgInfo {
    width : 600px;
    margin-left: 10px;
}
#graphTitle {
    margin-left: 200px;
    position: absolute;
    left: 530px;
    top: 200px;
}
#educationImg {
    width: 500px;
    height: auto;
    position: absolute;
    left: 750px;
    top: 230px;
    display: none;
}
#donationBtn {
    width: 400px;
    height: 100px;
    font-size: 40px;
    border-radius: 50px;
    background-color: orange;
    position: absolute;
    left: 830px;
    top: 50px;
}
#donationBtn:hover {
    background-color: rgb(248, 186, 70);
}
#footer {
    height : 30px;
    width: auto;
    background-color: lightyellow;
}
#copyright {
    text-align: center;
}